*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: #f5f6f7;
}
a{
    text-decoration: none;
    color: black;
}
button{
    outline: none;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-start{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.flex-grid{
    display: grid;
    grid-template:repeat(2,1fr)/repeat(3,1fr);
    gap:16px
}
.box-shadow-sm{
    box-shadow: 1px 2px 3px #eee;
}
/* header */
header{
    width: 100vw;
    height: 64px;
    border-bottom: solid 1px #eee;
    box-shadow: 2px 2px 6px #eee;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #fff;
    z-index: 99;
}
header>div{
    width: 80vw;
    height: 100%;
    margin: 0 auto;
}
header .left .logo a{
    display: flex;
    justify-content:center;
    align-items:center;
}
header .left .logo a img{
    width:60px;
    height:60px;
    margin-right:10px;
}
header .left .logo a span{
    font-size: 24px;
}
header .left ul li{
    display: block;
    width: 80px;
    text-align: center;
}
header .left ul li:nth-child(1){
    border-right: solid 2px #eee;
}
/* .right */
header .right{
    width: 20vw;
    height: 60px;
    display: flex;
}
/* login */
header .right .login{
    width:100%;
    height:100%;
}
header .right .login>div{
    width: 60px;
    height: 60px;
}
header .right .login>div>a{
    display: block;
    transform: translate(14px,14px);
}
header .right .login>div i{
    display: inline-block;
    color: grey;
    line-height: 32px;
    font-size: 32px;
    width: 32px;
    height: 32px;
    
}
header .right .login>div:last-child i{
    color: rgba(118, 218, 252, 0.74);
}
/* 设置所有menu-list */
header .right .login>div>div{
    z-index: 99;
    background-color: #fff;
    border-radius: 5px;
    width: 240px;
    display: none;
    transform: translate(-90px,26px);
    box-shadow: 0px 0px 10px silver;
}
/* 设置三角形 */
header .right .login>div>div::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    transform: translate(115px,-5px) rotate(45deg);
    background-color: #fff;
}

/* user-menu */

header .right .login .user .level-info h3{
    height: 40px;
    width: 100%;
    display: block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    padding: 0px 0px;
    border-bottom: solid 1px silver;
}
header .right .login .user .level-info h3 span{
    background-color: #eee;
    border-radius: 5px;
    margin: 0px 10px;
    font-size: 14px;
    padding: 2px 4px;
}
header .right .login .user .menu-list dl{
    padding: 6px 0px;
    font-size: 15px;
    border-bottom: solid 1px silver;
}
header .right .login .user .menu-list dl:last-child{
    border-bottom: none;
}

/* 设置高亮 */
header .right .login .user>div a{
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px 20px;
}
header .right .login .user>div a:hover{
    background-color: rgb(242, 247, 248);
}
/* no-login */
header .right .no-login{
    height:100%;
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .right .no-login a{
    padding: 4px 12px;
    background-color:#2475d8;
    border-radius:5px;
}
header .right .no-login a:nth-of-type(1){
    margin:0px 20px;
    background-color: #fff;
    border: solid 1px #2475d8;
}
header .right .no-login a:nth-of-type(2){
    color: #fff;
}

/* content */
.content{
    width: 80vw;
    margin: 60px auto;
    padding: 20px 0;
    position:relative;
}

.content>.left{
    width:65%;
    height: 100%;
}
.content>.right{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* footer */
footer>div{
    width: 80vw;
    border-top: solid 1px silver;
    padding: 30px;
}